.main{
	background: #E8E9EC;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
@supports (height: 100dvh){
	.main{
		height: 100dvh;
	}
}

.search{
	color: #15262F;
	font-size: 25px;
	font-weight: 700;
	background: inherit;
	outline: none;
	border: none;
	border-bottom: 2px solid #BFCED7;
	padding: 10px 0;
	width: 600px;
}

.search::placeholder{
	color: #CCD0D4;
}

.resultBox{
	background: #E4E6EC;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(200, 213, 255, 0.1);
	padding: 20px;
	margin: 20px 0;
	width: 600px;
}

.searchNode{
	padding: 10px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.searchNode:hover{
	background: #D8DCE6;
}

.searchTitle{
	color: #15262F;
	font-size: 17px;
	font-weight: 500;
	padding: 2px 0;
}

.searchConte{
	color: #8CA3B6;
	font-size: 14px;
	font-weight: 400;
}